<!-- PARTIAL --> 
<% include partials/header %> 
<!-- -->

<link rel="stylesheet" href="DemoEJSCSS.css">

<h1>This is the homepage!</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Balde.PNG/220px-Balde.PNG">

<!-- PARTIAL -->
<% include partials/footer %>
<!-- -->